<section class="pivotal-login-form">
  <h1>Please log in:</h1>
  <%= link_to 'Log in with Google Apps', google_auth_path, class: 'btn' %>
  <%= link_to 'Log in with Okta', '/auth/saml', class: 'btn' %>
</section>

